body {
  background-image: url(https://media.giphy.com/media/r2DZ7c7zrY1jO/giphy.gif);
  background-repeat: no-repeat;
  background-size: 100vw 1500px; 
  margin: auto;  
}

#playAgain {
  background-color: rgb(137, 165, 118);
  color: white;
  font-size: 40px;
  border: 5px solid rgb(117, 85, 25);
  text-align: center;
  width: 350px;
  padding: 20px;  
  cursor: pointer; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  transition: 0.3s;
  border-radius: 15px;
}

#playAgain:hover {
  transition: 0.3s;
  background-color: rgb(117, 85, 25);
  border: 5px solid rgb(137, 165, 118);
}


#endGame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#winner {
  text-align: center;
  color: rgb(43, 190, 43);
  font-size: 90px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 540px;
  width: 540px;  
 
}

.container div {
  height: 48px;
  width: 48px;
  margin: 2px;
  cursor: pointer;
}

.teal {
  background-color: rgb(48, 143, 206, 0.8);
}

.missed {
  background-color: rgb(44, 62, 167, 0.8);
}

.missed,
.injured,
.hit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.missed::before {
  content: "";
  position: absolute;
  animation: miss 0.6s ease-out forwards;
  border: 1.2vmin solid white;
  border-radius: 100%;
}

@keyframes miss {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0.3;
    transform: scale(1.5);
  }
}

.injured {
  background-color: rgb(218, 215, 53) !important;
  position: relative;
}

.injured::before,
.injured::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background-color: rgb(192, 41, 41);
}

.injured::before {
  animation: injuredBefore 0.9s ease-out forwards;
}

.injured::after {
  animation: injuredAfter 0.9s ease-out forwards;
}

@keyframes injuredBefore {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: rotate(45deg);
    width: 100%;
  }
}

@keyframes injuredAfter {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: rotate(-45deg);
    width: 100%;
  }
}

.hit {
  background-image: url(https://media0.giphy.com/media/cnoLwa94MaL9yvyD9N/giphy.gif?cid=ecf05e47xlrwrb0zbqf94he6u7dj8hyafez7ovygfsq8rkgx&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.options {
  display: flex;
  margin: 3px 10px 3px 10px;
  justify-content: center;  
}

.pb-150 {
  padding-bottom: 50px;
}

.option {
  min-width: 150px;
  min-height: 20px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 900;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 8px;
  margin: 5px;
}

.option::before {
  content: '';
    border-radius: 100px;
    min-width: calc(170px + 12px);
    min-height: calc(40px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .option:hover, .option:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .option:hover::before, .option:focus::before {
    opacity: 1;
  }
  
  .option::after {
    content: '';
    width: 10px; height: 10px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2.5s infinite;
  }
  
  .option:hover::after, .option:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 180px;
      height: 120px;
      opacity: 0;
    }
  }

.or {
  padding: 8px;
  margin: 5px;
}

.orange {
  background-color: orange;
}

.gray {
  background-color: gray;
}

#startButton {
  color: #FFF;
	transition: all 0.5s;
	position: relative;	  
  margin: auto;
  line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  display: none;  
}

.startGame {
  z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}

#startButton::before {
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}

#startButton::after {
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.2);
	background-color: rgba(255,255,255,0.1);
}

#startButton:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}

#startButton:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}









