body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(241, 204, 155);
  height: 540px;
  width: 540px;
}

#container div {  
  height: 48px;
  width: 48px;
  margin: 2px;
  cursor: pointer;
}

.teal {
  background-color: rgb(48, 143, 206);
}

.missed {
  background-color: rgb(44, 62, 167);
}

#score {
  text-align: center;
  margin: 15px;
  font-size: 25px;
}

#playAgain {
  width: 140px;
  font-size: 20px;
  background-color: rgb(25, 165, 25);
  color: white;
  text-align: center;
  padding: 10px;
  margin: 15px;
  display: none;
}


.injured {
  background-color: rgb(218, 215, 53);
}

.hit {
  background-color: rgb(9, 126, 28);
}